@page "/text"
@rendermode InteractiveWebAssembly

<PageTitle>Text</PageTitle>

<h3>Text</h3>
<p>You entered: @text</p>

<input @bind="text" />
<button @onclick="() => text = string.Empty">Clear</button>

@code {
    string text = "";
}
