@page "/todo"
@rendermode InteractiveServer

<h3>Todo</h3>

<ul>
    @foreach ( TodoItem todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    string newTodo = "";

    /// <summary>
    /// Adds a new TodoItem to the list
    /// </summary>
    void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
